# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.env

# Django
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Docker
*.pid

# Coverage
htmlcov/
.coverage